########################################
# Frontend runtime
########################################
FRONTEND_IMAGE_NAME=lotr-frontend
FRONTEND_CONTAINER_NAME=lotr-frontend
IMAGE_TAG=latest
FRONTEND_HOST_PORT=4200

########################################
# API consumed by the SPA
########################################
API_BASE_URL=http://localhost:9525/api
